* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

@import url("http://fonts.cdnfonts.com/css/minecraft-4");

body {
  height: 100vh;
  background: url("/assets/images/wood.png") no-repeat center center/cover;
  background-size: cover;
}

.page-container {
  display: flex;
  justify-content: space-between;
  align-content: flex-start;
}

.minecraft-main {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.minecraft {
  width: 20rem;
  height: 10rem;
  display: flex;
  align-self: center;
  justify-content: center;
  align-content: center;
  justify-self: center;
  align-self: center;
}

.minecraft-logo {
  display: flex;
  justify-content: center;
  align-content: center;
  align-self: center;
  background: url("/assets/images/minecraft-logo.png") repeat center
    center/cover;
  width: 100%;
  height: 100%;
}

.start {
  width: 110px;
  margin: 0 auto;
  padding: 3px 13px;
  font-weight: 900;
  font-size: 18px;
  border: 0.5px solid black;
  font-family: "Minecraft", sans-serif;
  display: flex;
  justify-content: center;
  align-content: center;
}

.start a {
  color: black;
  text-decoration: none;
}

/* -------------------------------------------------tool box section --------------------------------------------------------------*/

.tool-box-container {
  display: flex;
  position: relative;
  height: 100vh;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background: black;
  font-family: "Minecraft", sans-serif;
}

.tools-images-container {
  width: 18vmin;
  height: 83%;
  list-style: none;
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
  margin-top: 130px;
}

.tool {
  display: flex;
  flex-direction: column;
  align-self: center;
  justify-content: space-around;
}

.tool-image {
  margin: 5px auto;
  border: 1px solid white;
  width: 10vmin;
  height: 12vmin;
  background-color: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-self: center;
}

.tool-name {
  display: flex;
  font-size: 11px;
  color: #fff;
  margin: auto;
}

.axe {
  background: url("/assets/images/axe.png") no-repeat center center / cover;
  border: black 5px solid;
  width: 100%;
  height: 100%;
}
.shovel {
  background: url("/assets/images/shovel.png") no-repeat center center/ cover;
  border: black 5px solid;
  width: 100%;
  height: 100%;
}
.pickaxe {
  background: url("/assets/images/pickaxe.png") no-repeat center center/ cover;
  width: 100%;
  height: 100%;
  border: black 5px solid;
}
