* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

@import url("http://fonts.cdnfonts.com/css/minecraft-4");


body {
  height: 100vh;
  /* width:100vw; */
}

/* -------------------------------------------------game board section --------------------------------------------------------------*/

.game-container {
    background-color: #fff;
    display: flex;
    justify-content: space-between;
    background-color: black;
    margin: auto;
    width: 100%;
}

.game-board {
  grid-template-columns: repeat(21, 1fr);
  grid-template-rows: repeat(21, 1fr);
  height: 100vmin;
  width: 100vmin;
  display: grid;
  margin: auto;
  background-color: rgb(92, 194, 235);
}
div{
   /* border: 1px solid red; */
}

.grid-board div {
  width: 5vmin;
  height: 5vmin;
}

.tree {
  background: url("/assets/images/Wood.png") no-repeat center center/cover;
}

.leaves {
  background: url("/assets/images/Leaves.png") no-repeat center center/cover;
}

.rock {
  background: url("/assets/images/Stone.jpg") no-repeat center center/cover;
}

.ground {
  background: url("/assets/images/Dirt.png") no-repeat center center/cover;
}

.grass {
  background: url("/assets/images/GrassBlock.png") no-repeat center center/cover;
}

.cloud {
  background: rgb(255, 255, 255);
}

.sky {
  background-color: rgb(92, 194, 235);
}



/* -------------------------------------------------tool box section --------------------------------------------------------------*/


.tools-images-container {
  width: 18vmin;
  font-family: "Minecraft", sans-serif;
  margin: auto 0;
  background: black;
  list-style: none;
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
  margin-top: 130px;
}

.tool {
  display: flex;
  flex-direction: column;
  border: 1px solid white;
  align-self: center;
  margin: 5px auto;
}

.tool-image {
  width: 10vmin;
  height:10vmin;
  background-color: black;
  border: 1px solid white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-self: center;
}

.tool-name {
  display: flex;
  font-size: 11px;
  color: #fff;
  margin: auto;
}

.axe {
  background: url("/assets/images/axe.png") no-repeat center center / cover;
  border: black 5px solid;
}
.shovel {
  background: url("/assets/images/shovel.png") no-repeat center center/ cover;
  border: black 5px solid;
}
.pickaxe {
  background: url("/assets/images/pickaxe.png") no-repeat center center/ cover;
  border: black 5px solid;
}

.inventory{
  border: 1px solid white;;
  width:10vmin;
  height:10vmin;

}
button .inventory{
  border: 1px solid white;;
  width:10vmin;
  height:10vmin;
  /* padding:25px; */
  /* margin-bottom:15px; */
  border:red 2px solid;   
}

button{
  width:12vmin;
  height:12vmin;
  border: none;
  padding: 2%;
  background-color: black;
}